
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style=" display:-webkit-inline-box">
	@using (Html.BeginForm("CarOrder", "Order", FormMethod.Get))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal" style="padding-right:15px">
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" style="width:250px; height:150px; font-size:24px" value="Car" class="btn btn-default" />
				</div>
			</div>
		</div>
	}

	@using (Html.BeginForm("TaxiOrder", "Order", FormMethod.Get))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal" style="padding-right:15px; padding-left:15px">
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" style="width:250px; height:150px; font-size:24px" value="Taxi" class="btn btn-default" />
				</div>
			</div>
		</div>
	}

	@using (Html.BeginForm("BusOrder", "Order", FormMethod.Get))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal" style="padding-left:15px">
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" style="width:250px; height:150px; font-size:24px; padding-left:15px" value="Bus" class="btn btn-default" />
				</div>
			</div>
		</div>
	}
</div>

